@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="~/Content/flexslider.css" type="text/css" rel="stylesheet">
    <link href="~/Content/menu.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
    	touch: true,
    	pauseOnAction: false,
        pauseOnHover: false,
        slideshowSpeed: 4000, 
        animationSpeed: 500,
    });
  });
    </script>
</head>
<body>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/imagenes/banner.png" alt="">
            </li>
            <li>
                <img src="~/imagenes/metropolitano.png" alt="">
                <section class="flex-caption">
                    <p>Metropolitano</p>
                </section>
            </li>
            <li>
                <img src="~/imagenes/metrodelima.png" alt="">
                <section class="flex-caption">
                    <p>Metro de Lima</p>
                </section>
            </li>
            <li>
                <img src="~/imagenes/corredores.png" alt="">
                <section class="flex-caption">
                    <p>Corredor</p>
                </section>
            </li>
        </ul>
    </div>

    <header>
        <nav class="menu">
            <ul>
                <li><a style="font-family:'Comic Sans MS'; text-decoration:none; color:black" href="~/Home/Index">Inicio</a></li>
                <li>Metropolitano
                    <ul>
                        <li>Rutas
                            <ul>
                                <li>Troncal</li>
                                <li>Alimentadoras</li>
                            </ul>
                        </li>
                        <li>Conoce Más</li>
                    </ul>
                </li>
                <li>Corredor de Lima
                    <ul>
                        <li>Rutas
                            <ul>
                                <li>Corredor Azul</li>
                                <li>Corredor Rojo</li>
                                <li>Corredor Naranja</li>
                            </ul>
                        </li>
                        <li>Conoce Más</li>
                    </ul>
                </li>
                <li>Metro de Lima
                    <ul>
                        <li>Rutas</li>
                        <li>Conoce Más</li>
                    </ul>
                </li>
                <li>Iniciar Sesión
                    <ul>
                        <li><a style="font-family:'Comic Sans MS'; text-decoration:none; color:white" href="~/Menu/LoginU">Usuario</a></li>
                        <li><a style="font-family:'Comic Sans MS'; text-decoration:none; color:white" href="~/Menu/Login">Colaborador</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <br />
    <div style="text-align:center">
        <h1 style="color:white; font-family:'Comic Sans MS'; font-size:2cm">Autoridad de Transporte Urbano</h1>
        <br />
        <p style="color:white; margin-left:20px; margin-right:20px">
            Organismo público que fusiona los 3 servicios regulares que existe en Lima Metropolitana. Esta autoridad
            implementa el Sistema Integrado de Transporte de Lima para satisfacer las necesidades de traslado
            de los ciudadanos en el marco de lineamientos de política que promueve el Ministerio de Transportes (MTC).
        </p>
    </div>
</body>
</html>
