<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "AsistenteCAU";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>
<hr style="width:1130px" />
<div>
    <h1 align="center">Centro de Atención al Usuario</h1>
</div>
<hr style="width:1130px" />
<br />
<div align="center">
    <a href="~/Usuario/Listar"><img src="~/imagenes/usuario.png" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    if ('@ViewBag.mensaje' != '')
        alert('@ViewBag.mensaje')
</script>