
@{
    ViewBag.Title = "AsistenteCAU";
}

<h2>AsistenteCAU</h2>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    if ('@ViewBag.mensaje' != '')
        alert('@ViewBag.mensaje')
</script>