<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "GerenteDC";
}

<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>
<hr style="width:1130px" />
<div>
    <h1 align="center">Departamento de Compras</h1>
</div>
<hr style="width:1130px" />
<br />
<div align="center">
    <a href="~/Proveedor/Listar"><img src="~/imagenes/proveedor.png" /></a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="~/MobiliarioEquipo/ListarM"><img src="~/imagenes/mobiliario.png" /></a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="~/MobiliarioEquipo/ListarE"><img src="~/imagenes/equipo.png" /></a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="~/"><img src="~/imagenes/reporte.png" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    if ('@ViewBag.mensaje' != '')
        alert('@ViewBag.mensaje')
</script>