
@{
    ViewBag.Title = "GerenteRRHH";
}

<div>
    <h2>Recursos Humanos</h2>
</div>
<hr />
<br />
<div align="center">
    <a href="~/Empleado/Listar"><img src="~/imagenes/empleado.png" /></a>
    <a href="~/"><img src="~/imagenes/reporte.png" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    if ('@ViewBag.mensaje' != '')
        alert('@ViewBag.mensaje')
</script>