<link href="~/Content/vistas.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "GerenteST";
}
<div>
    <img class="banner" src="~/imagenes/banner.png" />
</div>
<div class="boton">
    <header>
        <nav>
            <ul class="menu">
                <li>
                    @using (Html.BeginForm())
                    {
                        <input type="text" value="@ViewBag.codigo" hidden="hidden" />
                        <input style="font-family:'Open sans'" class="btn-link" type="submit" value="Mi Perfil" />
                    }
                </li>
                <li><a href="~/Home/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
</div>
<hr style="width:1130px" />
<div>
    <h1 align="center">Servicio Técnico</h1>
</div>
<hr style="width:1130px" />
<br />
<div align="center">
    <a href="~/MobiliarioEquipo/ListarM"><img style="width:180px; height:180px" src="~/imagenes/mobiliario.png" /></a>
    <a href="~/MobiliarioEquipo/ListarE"><img style="width:180px; height:180px" src="~/imagenes/equipo.png" /></a>
    <a href="~/"><img style="width:180px; height:180px" src="~/imagenes/mantenimiento.png" /></a>
    <a href="~/"><img style="width:180px; height:180px" src="~/imagenes/cambio.png" /></a>
    <a href="~/"><img style="width:180px; height:180px" src="~/imagenes/reporte.png" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    if ('@ViewBag.mensaje' != '')
        alert('@ViewBag.mensaje')
</script>